name: Python Linting (Black & Flake8)

on: [push, pull_request]
permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: pip install flake8 black 

      - name: Check formatting with Black
        run: black . --check 

      - name: Run Flake8
        run: |
          # Check errors (Syntax, Logic)
          flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
          # Warnings (Style)
          flake8 . --count --exit-zero --max-complexity=10 --max-line-length=100 --statistics
