name: Python Linting

on: [push, pull_request]

permissions:
  contents: write  

jobs:
  lint-and-fix:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          ref: ${{ github.head_ref }}

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: pip install flake8 black

      - name: Run Black (Auto-format)
        run: black . 

      - name: Check for changes and Commit
        run: |
          if [[ -n $(git status -s) ]]; then
            echo "Phát hiện code chưa đẹp. Đang tự động sửa..."
            
            git config --global user.name 'GitHub Actions'
            git config --global user.email 'actions@github.com'
            
            git add .
            git commit -m "style: auto-fix formatting with black"
            git push
          else
            echo "Nice code."
          fi

      - name: Run Flake8
        run: |
          flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
          flake8 . --count --exit-zero --max-complexity=10 --max-line-length=100 --statistics
